<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.x100hackers.plaper" android:versionCode="1" android:installLocation="auto" android:versionName="0.1">
	<uses-sdk />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="Plaper" android:icon="@drawable/Icon">
    <activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
    android:theme="@android:style/Theme.Translucent" />
  </application>

</manifest>